<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입차</title>
    <link rel="stylesheet" href="/stylesheets/parking.css" />
    <link rel="shortcut icon" type="image/x-icon" href="images/parking.png" />
</head>

<body>
    <header id="header">
        <h1 id="header-second">입차 System</h1>

    </header>
    <main>
        <article>
            <strong>차량번호 입력(입차)</strong>
            <ul>
                <li> 차량번호를 입력해주시면 됩니다.</li>
                <li> 차량번호를 잘못 입력하신 경우 입차를 하실 수 없습니다. 정확한 차량번호를 입력해주세요.</li>
            </ul>
            <input type="text" id='car' placeholder="예시) 12가3456 ">
            <div>
                <button class='center'>입차하기</button>
            </div>
            <div class='result'></div>
        </article>

    </main>
    <footer>

    </footer>

</body>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous" type="text/javascript">
</script>
<script src = "javascripts/incar.js"></script>


</html>