<!DOCTYPE html>
<html>

<head>
    <title>주차장</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" type="image/x-icon" href="images/parking.png" />
</head>

<body>
    <main id="main">
        <article id="main-page">
            <div id="main-background">
                <h1>Welcome To 주차장</h1>
                <h2>원하시는 기능을 선택해주세요</h2>
                <div id="in-out">
                    <span id="button1"><a href="incar">입차</a></span>
                    <span id="button2"><a href="outcar">출차</a></span>
                </div>
            </div>
        </article>
    </main>
    <footer>
        <div id="main-footer">
            <ul id="second-footer">
                <li class="footer">만든이: 조민준</li>
            </ul>
        </div>
    </footer>
</body>

</html>